.sidenav {
  border-right: 1px solid rgba(106, 106, 106, 0.3);
}

.user-page-container {
  width: 100%;
  display: grid;
  grid-template-columns: 28% 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sidenav header"
    "sidenav main";
  height: 100vh;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  padding: 33px 28px 0 28px;
}

.header > * {
  padding: 0 15px;
}

.header .icon {
  width: 28px;
  height: auto;
}

.header .search {
  flex: 1
}

.header .search input {
  box-sizing: border-box;
  width: 400px;
  margin: 10px 0;
  padding: 10px 15px 10px 45px;
  background: rgba(210, 210, 210, 0.25);
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  outline: 0;
  color: white;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left center;
  background-position-x: 15px;
}

.header .notification {
  cursor: pointer;
  position: relative;
}

.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 28%;
  position: fixed;
  overflow-y: auto;
  transform: translateX(0);
  transition: all .6s ease-in-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.sidenav-wrapper {
  padding: 0 50px;
}

.sidenav::-webkit-scrollbar {
  display: none;
}

.sidenav .logo-brand {
  height: 50px;
  padding: 22px 0 0 50px
}

.sidenav .logo-brand img {
  width: auto;
  height: 100%;
}

.sidenav.active {
  transform: translateX(0);
}

.main {
  grid-area: main;
  padding: 50px 43px 85px 43px
}