.edit-profile-wrapper {
  margin-top: 30px;
}
.edit-profile-wrapper form {
  display: flex;
  flex-flow: column nowrap;
  width: max-width;
}

.edit-profile-wrapper form > * {
  margin-top: 20px;
}

.edit-profile-wrapper form input[type="text"], #caption {
  margin-bottom: 20px;
  padding: 15px 10px;
  outline: none;
  background: rgba(210, 210, 210, 0.25);
  border: 2px solid #D2D2D2;
  border-radius: 5px;
  color: white;
  width: 96%;
}

.edit-profile-wrapper form button {
  width: max-content;
  padding: 13px 15px
}

.edit-profile-wrapper form input[type="submit"] {
  width: max-content;
  float: right;
  padding: 13px 48px
}
/* 
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Upload Photos';
  display: inline-block;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 900;
  font-size: 16px;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
} */