.modal {
  position: absolute;
  max-width: 320px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: #1F1F1F;
  border: 1px solid rgba(0, 0 , 0, .50);
  border-radius: 10px;
  padding: 40px 35px;
  text-align: center;
}

.modal-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .40);
}

.modal h1 {
  text-align: left;
  margin-bottom: 30px;
  color: white;
}

.modal p, .modal a {
  color: #b1b1b1
}

.modal input[type="text"],
.modal input[type="email"],
.modal input[type="password"] {
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0;
  padding: 10px 15px;
  background: rgba(210, 210, 210, 0.25);
  border: 2px solid #D2D2D2;
  border-radius: 5px;
  font-size: 16px;
  outline: 0;
  color: white;
}

.modal input[type="submit"] {
  width: 100%;
  margin-top: 38px;
}