.card {
  height: max-content;
}

.card .thumbnail {
  width: 100%;
  height: max-content;
  cursor: pointer;
}

.card .info {
  display: flex;
  padding: 10px 0;
  align-items: center;
}

.card .info .user {
  display: inherit;
  flex: 1;
}

.card .info .user > * {
  margin-right: 10px;
}

.card .info .user .user-img {
  width: 25px;
}

.card .likes {
  font-size: 18px;
  line-height: 19px;
  text-align: right;
  color: #ABABAB;
}